In [1]:
import mysql.connector as connection
try:    
    mydb= connection.connect(host="localhost", database="kunal12345", user="root", passwd="ka@2859#", use_pure=True)
    query="insert into test values('2859', 'Kunal Aggarwal', '2022-06-30')"
    cursor=mydb.cursor()
    cursor.execute(query)
    mydb.commit()
    mydb.close()
except:
    mydb.close()
    print(str(e))

In [15]:
import mysql.connector as connection
try:    
    mydb= connection.connect(host="localhost", user="root", passwd="ka@2859#", use_pure=True)
    query="CREATE DATABASE test123;"
    cursor=mydb.cursor()
    cursor.execute(query)
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

In [20]:
mydb

In [23]:
import mysql.connector as connection
import pandas as pd
mydb=connection.connect(host="localhost", database="kunal12345", user="root", passwd="ka@2859#", use_pure=True)

In [25]:
pd.read_sql("select * from kunal12345.test",mydb)

OperationalError: MySQL Connection not available.

In [28]:
mydb

In [30]:
import pandas as pd
pd.read_sql("select * from kunal12345.test",mydb)

     c1              c2          c3
0  2859  Kunal Aggarwal  2022-06-30